## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>
<%def name="body()">
<form id="edit_form" action="" method="post">
  <center>msgid: <b>${translation['msgid'] | h}</b>
  % if is_admin:
  &nbsp;&nbsp;<small>[<a href="/translations/delete/${translation['id']}" title="Delete this string"
  onclick="if (!confirm('Are you sure you want to delete this item?')) return false;">delete</a>]</small>
  % endif
  </center>
  % if status == '1':
  <script type="text/javascript">
  Element.show('ajax_feedback_success'); new Effect.Fade('ajax_feedback_success', { duration: 3.0 });
  </script>
  % elif status == '-1':
  <script type="text/javascript">
  $('ajax_feedback_failure').replace('<span id="ajax_feedback_failure" style="display: none">No changes to save (or perhaps an error?)</span>');
  Element.show('ajax_feedback_failure'); new Effect.Fade('ajax_feedback_failure', { duration: 3.0 });
  </script>
  % endif
  <hr />
<p><center>
<input title="Save your changes to this string" type="submit" id="save_link" value="Save your changes" />
% if not next_to_edit is None:
<a href="/translations/edit/${next_to_edit}${url_suffix}" title="Go to the next untranslated string">
<input type="button" value="Next item" onclick="check_changes()" /></a>
<a href="/translations/edit/${next_to_edit}${url_suffix}" title="Save this string and go to the next one">
<input type="button"  id="save_next_link" onclick="submit(); return true;" value="Save & Next" /></a>
% endif
&nbsp;&nbsp;
<a id="cancel_link" href="/translations/edit/${translation['id']}${url_suffix}"
         title="Discard your changes"><input type="button" value="Discard changes" /></a>
</center>
<script type="text/javascript">var translation_id = ${translation['id']}</script>
<script type="text/javascript" src="/js/edit.js"></script>
<br />
<center></p>
  <table>
    <tr>
      <td colspan="3">
        <label for="comment">general comment:</label><br />
        <textarea name="comment" class="normal" id="comment">${translation['comment'] | h}</textarea>
      </td>
    </tr>
    <%
      langs = [ 'fr', 'it', 'de', 'en', 'es', 'ca', 'eu' ]
      langs_long = { 'fr': 'french','it': 'italian','de': 'german', 'en': 'english', 'es': 'spanish', 'ca': 'catalan', 'eu': 'basque' }
    %>
  % for lang in langs:
    <%
      import utils
    %>
    <tr>
      <td>
        <label for="${lang}">${langs_long[lang]} translation:</label><br />
        <textarea name="${lang}" id="${lang}" class="${translation[lang + '_state']}">${translation[lang] | h}</textarea>
      </td>
      <td>
        <label for="${lang}_comment">${langs_long[lang]} translation comment:</label><br />
        <textarea name="${lang}_comment" id="${lang}_comment" class="normal">${translation[lang+'_comment']}</textarea></td>
      <td>
        <input type="radio" name="${lang}_state" id="${lang}_state_translated" value="translated"${utils.check_value(translation, lang, 'translated')} />
        <label for="${lang}_state_translated">Translated</label><br />
        <input type="radio" name="${lang}_state" id="${lang}_state_needs_review" value="needs_review"${utils.check_value(translation, lang, 'needs_review')} />
        <label for="${lang}_state_needs_review">Needs review</label><br />
        <input type="radio" name="${lang}_state" id="${lang}_state_needs_update" value="needs_update"${utils.check_value(translation, lang, 'needs_update')} />
        <label for="${lang}_state_needs_update">Needs update</label><br />
        <input type="radio" name="${lang}_state" id="${lang}_state_needs_translation" value="needs_translation"${utils.check_value(translation, lang, 'needs_translation')} />
        <label for="${lang}_state_needs_translation">Needs translation</label>
      </td>
    </tr>
  % endfor
  </table>
</form>
<p><center>
<input title="Save your changes to this string" type="submit" id="save_link" value="Save your changes" />
% if not next_to_edit is None:
<a href="/translations/edit/${next_to_edit}${url_suffix}" title="Go to the next untranslated string">
<input type="button" value="Next item" onclick="check_changes()" /></a>
<a href="/translations/edit/${next_to_edit}${url_suffix}" title="Save this string and go to the next one">
<input type="button"  id="save_next_link" onclick="submit(); return true;" value="Save & Next" /></a>
% endif
&nbsp;&nbsp;
<a id="cancel_link" href="/translations/edit/${translation['id']}${url_suffix}"
         title="Discard your changes"><input type="button" value="Discard changes" /></a>
</center>
<script type="text/javascript">var translation_id = ${translation['id']}</script>
<script type="text/javascript" src="/js/edit.js"></script>
<br />
<hr />
<center></p>
<p>Recent logs for this item:</p></center>
<%include file="/logs_list.html" args="logs=logs"/>

</%def>
