## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>

<%def name="body()">
<h3>Translation states</h3>
<p>
Translation items can be in 4 states:
<li><b>translated:</b> everything is fine</li>
<li><b>needs update:</b> the translation should be updated because the meaning of the msgid evolved</li>
<li><b>needs review:</b> the translation might be incorrect and should be reviewed</li>
<li><b>needs translation:</b> the item is untranslated

The text entered in a texarea with a 'needs translation' state has no value.
</p>
<p>
Once you translated / reviewed / updated an item, do not forget to update its state.
</p>
<h3>Translation comments</h3>
<p>
For each translation, you have a general comment (generally to explain what the msgid reflects), and
one comment per language, for comments specific to this language
</p>
<h3>Which translation is being actually used?</h3>
<p>
If a string has a translation (aka not 'needs translation'), this version is used.
Else, it tries to get the best available translation for other languages.
For example, if the catalan version is not available, it will try to use the spanish one, then the english one, and so on
</p>
<h3>Where can I find the msgid for a string?</h3>
<p>
Have a look at the <a href="http://dev.camptocamp.org/trac/c2corg/browser/trunk/camptocamp.org/apps/frontend/i18n">i18n directory</a>
from the subversion repository
</p>
<h3>How can I add new items?</h3>
<p>
Only moderators can add new translation items
</p>
<h3>Typography</h3>
<p>
Only french uses a space before ':' or '!'. A non breakable space can be inserted with '&amp;nbsp;', but be aware that you shouldn't use it for each string.
</p>
<p>
Be aware that some strings might have a trailing space (should be a rare case). You can add a general comment so that other translators do not miss it.
</p>
<p>
<center>To be completed</center>
</p>
</%def>
